<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="drusatmjonov0919@gmail.com">     
    <title>Word game</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="container">
    
    <div class="app">
        <div class="users">
            <ul class="users-list">
                <li class="users-list__item item-active">
                    <div class="user-img">
                        <img src="./img/user.png" width="45" alt="">
                    </div>
                    <div class="user-name">
                        <span>
                            Diyorbek
                        </span>
                    </div>
                    <div class="user-status active">
                            online
                    </div>
                </li >
                <li class="users-list__item item-active">
                    <div class="user-img">
                        <img src="../img/user.png" width="45" alt="">
                    </div>
                    <div class="user-name">
                        <span>
                            Diyorbek
                        </span>
                    </div>
                    <div class="user-status ">
                            offline
                    </div>
                </li >

            </ul>
        </div>
        <div class="gamePlace">
            <!-- <div class="selected-user">
                <div class="selected-user__img">
                    <img src="./img/user.png" width="70" alt="">
                </div>
                <div class="selected-user__title">
                    Diyorbek
                </div>
            </div> -->

            <!-- <div class="word-form">
                <input type="text" class="word-input">
            </div>

            <div class="word-timer">00:10</div> -->
        </div>
        <div class="input-place">
            <div class="word-form">
                <input type="text" class="word-input">
            </div>
    
            <div class="word-timer">00:10</div>
        </div>
        <div class="game-controll">
            <div class="btn">
                start game
            </div>
            <div class="btn reset">
                reset game
            </div>
        </div>
    </div>
</div>
<script src="../js/game.js"></script>
</body>
</html>
